.right-section-3.w-400px {
    margin-left: 100px;
}


.w-400px {
    width: 400px !important;

}

.content-paragrap p {
    margin-bottom: 0px;
}
.content-paragrap {
    font-size: 13px
}

.one-paragrap {
    margin-bottom: 20px;
    margin-left  : 10px;
    position     : relative;
}

.title-paragrap {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.title-paragrap:before {
    content         : "";
    width           : 7px;
    height          : 20px;
    background-color: #f6b714;
    position        : absolute;
    left            : -12px;
    top             : 4px;
}

.title-paragraps {
    color         : #353430;
    font-size     : 18px;
    font-weight   : bold;
    text-transform: uppercase;
    margin-bottom : 29px;
}

.number-image {
    width           : 75px;
    height          : 75px;
    background-color: black;
    color           : white;
    text-align      : center;
    font-size       : 56px;
    font-weight     : bold;
    position        : absolute;
    top             : 30px;
    right           : 56px;
    font-family: Trajan Pro;
}

.total-images {
    text-align: right;
    color     : #b1b1b1;
    font-size : 24px;
    font-family: Trajan Pro;
}

.title-section {
    margin-top    : 70px !important;
    font-weight   : bold;
    color         : #ffbf00;
    font-size     : 37px;
    width         : 852px;
    text-align    : center;
    margin        : auto;
    margin-bottom : 26px;
    text-transform: uppercase;
}

.section-6 .title-section {
    width    : calc(100%);
    max-width: 1320px;
}

.image-section-3 {
    min-height       : 310px;
    margin-left      : 100px;
    background-repeat: no-repeat;
    background-size  : cover;
}

span.chu-nho {
    font-size  : 25px;
    font-weight: 600;
    font-family: Baskerville;
    font-style : normal;
}

span.chu-to {
    font-size  : 64px;
    font-weight: 600;

    font-family: Baskerville;
    font-style : normal;
}

.one-item {
    color     : white;
    width     : 296px;
    text-align: center;
    margin-top: 30px;
}

.section-2 {
    background-color: #353430 !important;
}

.top {
    text-align: center;
}

.top .sub-title-icon {
    width  : 230px;
    display: inline-block;
}

.section-2 {
    padding-bottom: 32px;
}

p.title-icon {
    color         : #ffffff;
    font-size     : 14px;
    font-weight   : 500;
    text-transform: uppercase;
    margin-bottom : -10px;
}

p.title-bold {
    margin-bottom: -7px;
}

.sub-title-icon {
    text-transform: initial !important;
}

.icon {
    width : 100%;
    height: 80px;
}

.icon {
    background-position: center;
    background-repeat  : no-repeat;
    margin-bottom      : 20px;
}

.icon {}

.item-menu {
    transform    : rotate(-90deg);
    width        : 120px;
    margin-left  : -16px;
    margin-bottom: 100px;
    text-align   : center;
    margin-top   : 70px;
    cursor       : pointer;
}

.item-menu:hover {
    color: #FFBF00;
}

.item-menu.active {
    color: #FFBF00;
}

.carousel-indicators .active {
    width       : 22px;
    height      : 22px;
    background  : #FFBF00;
    border-color: #FFBF00;
}
ol.carousel-indicators {
    bottom: -18px;
}
.carousel-indicators li {
    width       : 20px;
    height      : 20px;
    background  : #B1B1B1;
    border-color: #B1B1B1;
}

.button-submit {
    text-align: center;
    margin-top: 30px;
}

button.btn.btn-primary.btn-dang-ky-chuong-trinh {
    background-color: #ffbf00;
    border-color    : #ffbf00;
    color           : #353430;
    font-size       : 16px;
    font-weight     : bold;
    height          : 60px;
    width           : 280px;
    border-radius   : 10px;
}

.button-nhan-bao-gia .btn-dang-ky-chuong-trinh {
    height  : 60px !important;
    position: absolute;
    bottom  : 0;
}

.content-section-7 button.btn.btn-primary.btn-dang-ky-chuong-trinh {
    background-color: white;
}

.radio-title {
    font-size    : 14px;
    color        : #353430;
    margin-bottom: 15px;
}

.title-section-form {
    color         : #353430;
    font-weight   : bold;
    text-transform: uppercase;
    font-size     : 14px;
    margin-bottom : 20px;
}

.radio-form {
    margin-top: 30px;
}

.text-form .form-group {
    margin-bottom: 0px;
}

.content-form input {
    border-radius: 10px;
    padding-left : 30px;
    color        : #353430;
    font-size    : 14px;
    background   : #E4E4E4;
}

/* .content-form input {
    border-radius: 10px;
    padding-left : 30px;
    color        : #353430;
    font-size    : 14px;
    background   : #FFE9A8 !important;
} */
.bottom input {
    background: #FFE9A8 !important;
}

.content-form .combobox {
    border-radius   : 10px;
    /* padding-left : 30px; */
    /* padding-right: 30px; */
    color           : #353430;
    font-size       : 14px;
    background-color: #E4E4E4;
}

.content-form .combobox-bottom {
    border-radius   : 10px;
    /* padding-left : 30px; */
    /* padding-right: 30px; */
    color           : #353430;
    font-size       : 14px;
    background-color: #FFE9A8;
}

.laithu {
    width         : 356px;
    margin-left   : 10px;
    color         : black;
    font-weight   : bold;
    letter-spacing: 0.7rem;
    text-align    : center;
    margin-bottom : 20px;
    font-family: Trajan Pro;
}

.checkmark-bottom {
    background-color: #FFE9A8 !important;
}

.content-section-7 .laithu {
    font-family: Trajan Pro;
}

.tham-nha {
    position : absolute;
    top      : -74px;
    color    : #ffbf00;
    font-size: 30px;
    right    : 72px;
    width    : 220px;
    height   : 59px;
    z-index  : 3204924249249;
}

.vinhomes {
    font-weight: 900;
    color      : #ffbf00;
    font-size  : 71px;
    position   : absolute;
    left       : 2px;
    top        : -55px;
}

.slide-content .vinhomes {
    font-family: Trajan Pro;
    font-size  : 56px;
    top        : -40px;
    left       : 50px;
    font-style : normal;
    line-height: 67px;
    text-align : center;
}

.content-form {
    width           : 425px;
    display         : inline-block;
    background-color: white;
    padding         : 30px;
    float           : right;
    position        : relative;
    margin-top      : 100px;
    box-shadow      : 0px 20px 30px rgba(0, 0, 0, 0.2);
    border-radius   : 10px;
}

.image-slide {
    width : 800px;
    height: 500px;
}

.header-2 {
    color      : #ffbf00;
    font-weight: bold;
}

.paragrap-1 {
    color      : white;
    font-weight: bold;
}

.tang-con-moi-truong {
    margin-bottom: 35px;
}

.header-1 {
    color      : #FFBF00;
    font-size  : 40px;
    font-weight: bold;
}

.middle-slide {
    width     : 720px;
    text-align: center;
    display   : inline-block;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

.vinfast {
    width  : 139px;
    height : 75px;
    display: inline-block;
}

.right-top-slide {
    float       : right;
    margin-right: 200px;
}

.vinhome-co {
    width  : 186px;
    height : 75px;
    display: inline-block;
    margin-left: 40px
}

.top-slide {
    position: absolute;
    top     : 27px;
    z-index : 1;
    width   : 100%;
}

.left-top-slide.left-logo {
    width      : 111px;
    height     : 111px;
    display    : inline-block;
    margin-left: 77px;
    margin-top : -10px;
}

.slide-custom {
    display           : inline-block;
    /* width          : calc(100% - 110px); */
    background-size   : cover;
}

.left-menu {
    width  : 75px;
    height : 100%;
    display: inline-block;
    /* float  : left; */
    font-size: 10px;
    font-weight: bold;
}
.left-menu:hover{
    opacity: 1 !important;
}

/*css for video*/
* {
    margin : 0;
    padding: 0;

}

img.d-block.w-100.h-820 {
    height: 820px;
}

.content {
    /* height: 820px; */
}

div#section-3 {
    margin-bottom: 30px;
}

.col-md-7.slide1,
.col-md-7.slide2,
.col-md-7.slide3 {
    margin-top: 60px;
}

.slide-custom .form-group {
    margin-bottom: 20px;
}

p.title-radio-form.title-section-form {
    margin-bottom: 20px;
}

.over-hidden {
    overflow: hidden;
}

.row.bg-2,
.bg-3 {
    height: 50%;
}

.bg-2,
.bg-1,
.bg-3 {
    background-repeat: no-repeat;
    background-size  : cover;
    cursor           : pointer;
}

.bg-no-rep {
    background-repeat: no-repeat;
    background-size  : cover;
}

img.image-1 {
    width: 100% !important;
}

.row.section-4 {
    /* height    : 928px; */
    overflow  : hidden;
    margin-top: 70px !important;
}

.tow-icon .inactive {
    color: gray;
}

i.fa.fa-arrow-right.inactive {
    color: gray;
}

.tow-icon i.fa.fa-arrow-left {
    display     : inline-block;
    margin-right: 17px;
}

.tow-icon {
    margin-left: 100px;
    transform  : translateY(26px);
    font-size  : 20px;
    cursor     : pointer;
}

.vitri.item-menu {
    margin-top: 100px;
}

.icon-toggle-menu {
    margin-top: 10px;
    font-size : 30px;
    cursor    : pointer;
    position  : absolute;
    left      : 44px;
}

.content-form.slide-content {
    position: absolute;
    z-index : 10000;
    right   : 60px;
    top     : 100px;
}

.all-infor {
    margin-top   : 50px;
    margin-bottom: 180px;
}

.row.background-has-opacity {
    background-color: #ffffffd9;
}

a.tong-quan {
    color        : black;
    margin-bottom: 10px;
    display      : inline-block;
}

a.tong-quan {}

.all-infor>* {
    font-size: 12px;
}

p.title-footer {
    font-weight  : bold;
    margin-bottom: 0px;
}

p.title-footer.lien-he {
    text-transform: uppercase;
    margin-bottom : 20px;
}

.container-image-footer {
    width : 300px;
    height: 300px;
    margin: auto;
}

div#footer {
    margin-top       : 50px;
    background-repeat: no-repeat;
    background-size  : cover;
}

.image-car {
    height           : 250px;
    width            : 100%;
    background-size  : contain;
    background-repeat: no-repeat;
}

.one-description {}

p.title-one-description {
    font-weight  : bold;
    margin-bottom: 0px;
}

.despcription .one-description p {
    margin-bottom: 0px;
}

.one-description {
    text-align   : center;
    margin-bottom: 20px;
}

.title-section.font-size-32 {
    width     : auto;
    margin-top: 100px;
}

.font-size-32 {
    font-size: 30px !important;
}

.title-section.font-size-32 p {
    margin-bottom: 0px;
}

.content-section-7 .vinhomes {
    color      : black;
    font-size  : 56px;
    width      : 424px;
    text-align : center;
    font-family: Trajan Pro;
    top        : -40px;
}

.content-section-7 .content-form {
    background: #FFBF00;
}

.footer-video-chi-duong .col-md-3 {
    border-right: 1px solid gray;
}

.footer-video-chi-duong .col-md-3:last-child {
    border-right: none;
}


.chi-duong-4 .type-move {
    /* width: 280px; */
}

.type-move {
    /* width: 184px; */
    margin  : auto;
}

.chi-duong-3 .type-move {
    width: 222px;
}

.chi-duong-2 .type-move {
    width: 270px;
}

span.time-chu-to {
    font-size: 40px;
}

.footer-video-chi-duong {
    background-color: #353430;
    padding         : 30px;
    border-radius   : 10px;
}

.one-content-chi-duong {
    color      : white;
    font-weight: 600;
    text-align : center;
}

.w-100-120 {
    width       : calc(100% - 120px);
    margin-right: 120px;
    transform   : translateX(120px);
}

.carousel-item {
    width : 100%;
    height: 100%;
}

/*end css for video*/


.hidden {
    display: none;
}

.gg-box img {
    height: auto;
    width : auto;
}

.pd-0 {
    padding-right: 0px !important;
    padding-left : 0px !important;
    padding      : 0px !important;
}
@media (max-width: 1310px) {
    * {
        margin : 0px;
        padding: 0px;
    }

    .item-slide3 {
        width: 50%;
    }

    .content-form.slide-content {
        /* display: none; */
    }
}
@media (max-width: 1300px){
    .content {
        height: 1600px;
    }
    .content-form-top {
        left: calc(50% - 212.5px);
        top : 50% !important;
    }
}

@media (max-width: 1200px) {
    .sup-item {
        border-right: 0px !important;
    }

    .type-move {
        width    : 100% !important;
        max-width: 250px;
    }

    .footer-video-chi-duong .padding-bottom-item {
        padding-top: 20px;
    }
    .bottom{
        left: 25%;
        float: inherit;
    }
    .content {
        height: 1500px;
    }
    .content-form-top {
        left: calc(50% - 212.5px);
        top : 45% !important;
    }
}
/**/
@media (max-width: 950px) {
    * {
        margin : 0px;
        padding: 0px;
    }

    .item-slide3 {
        top : 5px !important;
        left: 30px !important;
    }

    .bottom {
        left : 25%;
        float: inherit;
    }

    .top-slide {
        /* top: 10px; */
    }

    .content-form-top {
        left: 25%;
        top : 40% !important;
    }
    /* .section-4 {
      display: none;
    } */
    .content {
        height: 1400px;
    }

}


/**/



@media (min-width: 800px) {

    .title-section {
        /* font-size: 20px; */
    }

}
@media (max-width: 720px) {
    * {
        margin : 0px;
        padding: 0px;
    }

    .top-slide {
        /* display: none; */
    }

    .left-top-slide.left-logo {}
}
@media (max-width: 767px) {
    .content-form {
        margin-left: 5% !important;
        margin-top: 50px;
        width: 80% !important;
        left: 10% !important;
    }

    .content {
        height: 1000px !important;
    }

    * {
        margin : 0px;
        padding: 0px;
    }

    /* .content-form {
        width: 60% !important;
        left : 20% !important;
    } */
    .content {
        height: 1100px !important;

    }

    .button-nhan-bao-gia button.btn.btn-primary.btn-dang-ky-chuong-trinh {
        bottom: -90px;
    }

    .section-5 button.btn.btn-primary.btn-dang-ky-chuong-trinh {
        bottom: 20px;
    }

    div#section-3 {
        padding-bottom: 100px;
    }

    .vinfast {
        position         : absolute;
        width            : 78px;
        height           : 45px;
        background-size  : cover;
        background-repeat: no-repeat;
        top              : -20px;
        right            : 87px;
    }

    .vinhome-co {
        width            : 100px;
        height           : 42px;
        background-size  : cover;
        background-repeat: no-repeat;
        top              : -17px;
        position         : absolute;
        right            : 199px;
    }

    .left-top-slide.left-logo {
        width          : 56px;
        height         : 56px;
        background-size: cover;
        position       : absolute;
        top            : -15px;
    }

    .tow-icon {
        margin-left: 0px;
    }

    ol.carousel-indicators {
        /* bottom: -157px; */
    }


    .slide-custom .button-submit {
        margin-top: 0px;
    }

    .slide-custom p.title-section-form.dang-ky-lai-xe {
        margin-bottom: 10px;
    }

    .slide-custom .laithu {
        transform: translateX(13px);
    }

    .slide-custom .radio-form {
        margin-top: 0px;
    }

    .slide-custom button.btn.btn-primary.btn-dang-ky-chuong-trinh,.btn-dang-ky-chuong-trinh {
        width    : 200px !important;
        font-size: 12px !important;
        height   : 40px !important;
        padding: 0px !important;
        left: 20%;
    }

    .slide-custom .content-form.slide-content {
        right: 25px;
        top  : -15px;
    }

    .slide-custom .form-group {
        height       : 50px;
        margin-bottom: 0px;
    }

    .form-group.final-combobox {
        margin-bottom: 0px !important;
    }

    .slide-custom .laithu {
        font-size    : 10px;
        /* transform    : translateX(-72px); */
        margin-bottom: 10px;
        /* transform    : translate(-80px, -7px); */
    }

    .h-820 {
        height: 820px !important;
    }

    p .title-bold {
        margin: 0px !important;
    }

    .tham-nha {
        width            : 100px;
        height           : 30px;
        background-size  : contain;
        background-repeat: no-repeat;
        top              : -37px;
        left             : 35%;
    }

    .slide-content .vinhomes {
        font-size: 30px !important;
        top      : -20px;
        width    : 100%;
        left     : 0;
    }

    .bottom .vinhomes {
        font-size: 30px !important;
        top      : -20px;
        width    : 100%;
    }

    .bottom .tham-nha {
        /* left: 100px; */
    }


    button.btn.btn-primary.btn-dang-ky-chuong-trinh-2 {
        width: 100%;
    }

    .btn-dang-ky-chuong-trinh {
        width : 60%;
        margin: auto;
        left: calc(50% - 100px)
    }




    .content-form.slide-content {
        width: 270px;
    }

    .slide-custom {
        width: 100%;
    }

    .left-menu.js-menu-left {
        /* display: none; */
    }

    .content-section-7 .content-form {
        float      : inherit;
        margin-left: calc(50% - 212px);
    }

    .all-infor {
        margin-bottom: 0px;
    }

    .content-section-6.w-100-120,
    .w-100-120 {
        transform   : translateX(0px);
        margin-right: 0px;
        width       : 100%;
    }

    .right-section-3.w-400px {
        margin-left  : 0px;
        margin-bottom: 100px;
    }

    .image-section-3 {
        margin-left  : 0px;
        margin-bottom: 20px;
    }

    .title-section {
        width: 100%;
    }

    .one-item {
        width: 100%;
    }

    .top-slide {}
    .title-section {
        font-size: 23px;
    }
}
@media (max-width: 768px) {
    /* .bottom{
        margin-left   : -90px !important;
    } */
}



@media (max-width: 625px) {
    .content-form-top{
        top: 35% !important;
    }
    span.chu-to{
        font-size: 40px !important;
    }
    .top .sub-title-icon{
        width: 100%;
    }
    .bottom h1, .content-form-top h1{
        font-size: 25px;
    }
    .bottom h4, .content-form-top h4{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .content-form-top{
        top: 25% !important;
    }
    span.chu-to{
        font-size: 40px !important;
    }
    .top .sub-title-icon{
        width: 100%;
    }
}
/**/
